.case {
    &-body {
        padding: 2rem .5rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 5rem;

        &--content {

            &-feature {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                padding: 1rem;
                background-color: $background-light;
                border-left: 3px solid $light-blue;
                border-radius: 4px;

                .divider {
                    background-color: $secondary-orange-15;
                }

                &_features {
                    display: flex;
                    gap: 2rem;

                    .feature {
                        display: flex;
                        align-items: center;
                        gap: .5rem
                    }
                }
            }
        }


        &--image {
            align-self: stretch;

            img {
                border-radius: 4px;
            }
        }
    }
}