.category-item {
    display: grid;
    grid-template-columns: 10% auto;
    background-color: $background-light;
    border: 1px solid $border-darker-grey;
    border-radius: 4px;
    border-left: 3px solid $light-blue;
    padding: 2rem;
    align-items: center;

    &--initial {
        background-color: $light-grey-200;
        border-radius: 4px;
        padding: 1rem;
        width: 5rem;
        height: 5rem;

        &-title {
            text-align: center;
        }
    }

    .category-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &--body {
            display: flex;
            flex-direction: column;
            gap: .25rem;
            
            &-content {
                display: flex;
                align-items: center;
                gap: 2rem;

                .subs {
                    display: flex;
                    gap: .5rem;
                }
                
                .data-level {
                    display: flex;
                    gap: .5rem;
                    align-items: center;

                    &--title {

                    }
                    &--item {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        text-align: center;
                    }
                    &--item-0 {
                        background-color: $light-green;
                    }
                    &--item-1 {
                        background-color: $dark-green;

                    }
                    &--item-2 {
                        background-color: $secondary-orange;
                    }
                    &--item-3 {
                        background-color: $dark-pink;

                    }
                }
                .addtional-info {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }


    
}
