.filter {
  width: 100%;

  
  &-header {
    
    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    &--filter {
      display: flex;
      gap: 1rem;

      @media (max-width:1850px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
      }
      @media (max-width:1450px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }


      .filter-item{
        background-color: $light-grey-200;
        border-radius: 100vw;
        padding: .25rem 1rem;
        transition: all 150ms ease-in-out;
        &--title {
          width: 100%;
        }

        &:hover {
          cursor: pointer;
          background-color: $light-grey-50;
        }
      }
      .active {
        background-color: $light-blue;
      }
      .active:hover {
        background-color: $light-blue;
      }
    }
  }
}

.filter-arrow {
  fill: $dark-blue;
  display: none;

  @media (max-width: 2100px) {
    display: block;
  }
}

