.filter {
  width: 100%;

  
  &-header {
    &--title {
      width: 100%;
    }
    
    &--filter {
      width: 100%;
      display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-template-columns: repeat(5, max-content);
      gap: 1rem;

      @media (max-width: 1550px) {
      grid-template-columns: repeat(4, max-content);

      }
      @media (max-width: 1400px) {
      grid-template-columns: repeat(3, max-content);

      }
     
        .filter-item{
          background-color: $light-grey-200;
          border-radius: 100vw;
          padding: .25rem 1rem;
          transition: all 150ms ease-in-out;
          text-align: center;
          &--title {
            width: max-content;
          }
  
          &:hover {
            cursor: pointer;
            background-color: $light-grey-50;
          }
        }
        .active {
          background-color: $light-blue;
        }
        .active:hover {
          background-color: $light-blue;
        }


    }

    .definition-filter {
      width: 100%;
    }
  }

  .fitler-definition--header {
    width: 100%;
  }
}

.filter-arrow {
  fill: $dark-blue;
  display: none;

  @media (max-width: 2100px) {
    display: block;
  }
}

