.filter {
  width: 100%;

  
  &-header {
    &--title {
      width: 100%;
    }
    
    &--filter {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
     
        .filter-item{
          background-color: $light-grey-200;
          border-radius: 100vw;
          padding: .6rem 1.2rem;
          transition: all 150ms ease-in-out;
          text-align: center;
          &--title {
            width: max-content;
          }
  
          &:hover {
            cursor: pointer;
            background-color: $light-grey-50;
          }
        }
        .active {
          background-color: $light-blue;
        }
        .active:hover {
          background-color: $light-blue;
        }


    }

    .definition-filter {
      width: 100%;
    }
  }

  .fitler-definition--header {
    width: 100%;
  }
}

.filter-arrow {
  fill: $dark-blue;
  display: none;

  @media (max-width: 2100px) {
    display: block;
  }
}

