.preview {
    border-radius: 4px;
    border: 1px solid $border-darker-grey;
    padding: 2rem; 
    border-top: 3px solid $light-blue;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    transition: all 250ms ease-in-out;

    max-width: 40rem;

    @media (max-width: 1400px) {
        max-width: 30rem;
    }

    &-nav {
        border-bottom: 1px solid $dark-blue;
        width: max-content;
    }

    &-icon{
        background-color: $border-darker-grey;
        border-radius: 4px;
        width: max-content;
        padding: 2rem;
        position: relative;

        .nav-icon {
            fill: $light-blue;
            @include center();

        }
    }

    &:hover,
    &:active {
        background-color: $background-light;
    }
}