.question {
   
    &-topic{
        display: flex;
        gap: 1rem;
        align-items: center;

        &--badge {
            background-color: $light-blue;
            display: inline-block;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
        }
    }

    &-answer {

        &--list {

            &-item {
                width: 49%;
                display: inline-block;

                &_radio {
                    display: none;    
                }

                &_label {
                    cursor: pointer;
                    position: relative;
                    padding-left: 5rem;

                    .form__radio-button {
                        height: 3rem;
                        width: 3rem;
                        border: 5px solid green;
                        border-radius: 50%;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: -.4rem;
                
                        &::after {
                            content: "";
                            display: block;
                            height: 1.3rem;
                            width: 1.3rem;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background-color: green;
                            opacity: 0;
                            transition: opacity .3s;
                        } 
                    }
                }

                &_radio:checked + &_label .form__radio-button::after{
                    opacity: 1;
                }

            }
        }
    }
}