.questions-container {

    .survey {

        .sd-container-modern {
            background-color: $color-white;
            
            .sd-body {
                margin-left: 0;
                margin-right: 0;
            }
            .question-content {
                box-shadow: none;
            
                .sd-radio--checked{
                    
                   background-color: $light-blue-opacity-10;
                }
    
                .sd-item {
                    border-radius: 4px;
                    border: 1px solid $border-darker-grey;
                    margin-bottom: 1rem;
                }
                
                .sd-item--checked  {
                    border-radius: 4px;
                    border: 1px solid $dark-blue;
        
                    .sd-item__decorator {
                        background-color: $dark-blue;
                    }
                }

                .sd-item__decorator {
                    background-color: $color-white;
                }
              
    
            
            
            }

        }
        
        .custom-radio-item {
            background-color: orange;
        }
        
        .question-answered {
            // background-color: green;
        }
    }
}

