.search {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;

    &-icon {
        position: absolute;
        transition: all 250ms ease-in;
        left: 1%;
    }   
    &-field {
        background-color: $light-grey-200;
        border-radius: 4px;
        width: 100%;
        padding: 1.5rem 4rem;

        &:target, 
        &:focus {
          border: 1px solid $dark-blue;
            background-color: $light-blue-opacity-10;

        }
    }

}