.tab {
  &-header {
    &--nav {
      display: flex;
      // gap: 3rem;

      &-item {
        width: 20rem;
        transition: all 150ms ease-in;
        &:hover,
        &:active {
          cursor: pointer;
        }
      }
    }

    &--underline {
      margin-top: 1rem;
      width: 100%;
      height: 2px;
      background-color: $border-darker-grey;
      position: relative;

      &-active {
        position: absolute;
        height: 2px;
        width: 12rem;
        background-color: $dark-blue;
        transition: all 250ms ease-in;
      }
    }
    .tab-item--active:hover,
    .tab-item--active:active {
      cursor: pointer;
    }
  }

  &-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width: 1450px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;

    }

    &--item {
      max-width: 50rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      @media (max-width: 1450px) {
        max-width: 45rem;
      }
      &-img {
        height: 50%;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
        background-color: $light-grey-200;
      }
    }
  }

  &-faq {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    row-gap: 2rem;
  }
}
