

// COLORS
$dark-blue: #211a52;
$dark-blue-100: #2B2362;
$light-blue: #594fbf;
$light-blue-200: #554F81;
$light-blue-100: #31A9C1;
$blue-grey: #54616e;
$light-grey: #ACB7C2;
$light-grey-100: #E7EDF2;
$light-grey-200: #EBEBEF;



$color-white: #fff;
$color-black: #000;


// GRID
$grid-width: 114rem;
$grid-introduction-width: 100rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;