

// COLORS
$color-primary: #211a52;
$color-secondary: #594fbf;
$color-tertiary: #54616e;

$color-orange-light: #df8e2e;
$color-orange-dark: #bb5b17;

$color-yellow-light: #b19335;
$color-yellow-dark: #97701f;

$color-blue-light: #31a9c1;
$color-blue-dark: #007fa3;

$color-brown-light: #cc8b66;
$color-brown-dark: #a16547;

$color-green-light: #5caf8d;
$color-green-dark: #0e8563;

$color-red-light: #e78293;
$color-red-dark: #cc445b;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;