.sidebar {
    background-color: $dark-blue;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;

    .logo-title {
        padding: 5rem 3rem 0rem;

    }
    
    &-list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        &--link {
            padding: .5rem 3rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            background-color: transparent;
            border-left: 2px solid transparent;
            transition: all 250ms ease-in;
        }
    }

    .contact {
        padding: 0 3rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        position: absolute;
        bottom: 5%;
    }

    &-wave {
        position: absolute;
        bottom: -2%;
        width: 100%;
        left: 0;
         svg {
            opacity: .1;
            width: 100%;
         }
         z-index: -1;
    }
}

.active-link {
    background-color: $dark-blue-100;
    border-left: 2px solid $light-blue-100;

}