@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@400;600&family=Quicksand:wght@300;500&display=swap");

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-black;
}

h1 {
  font-size: 3.4rem; //
  line-height: 1.294;
  font-weight: 600;
}

h2 {
  font-size: 3.4rem; //
  line-height: 1.2;
  font-weight: 600;
}

h3 {
  font-size: 2rem; //
  line-height: 1.208;
  font-weight: 600;
}

h4 {
  font-size: 1.8rem; //
  line-height: 1.055;
  font-weight: 500;
}

h5 {
  font-size: 1.6rem;
  line-height: 1.2;
  font: 600;
}

p {
  font-size: 1.6rem; //
  line-height: 1.7;
  font-weight: 400;
}

.p-huge {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 600;
}
.p-big {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
}
.p-small {
  font-size: 1.4rem;
  line-height: 1.714;
  font-weight: 600;
}

label {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
}

li {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  list-style: none;
}
a {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  text-decoration: none;
}

// Primary header
.primary-header {
  color: $dark-blue;
}

// Logo
.logo {
  &-title {
    color: $light-blue-100;

    &--owner {
      color: $blue-grey;
    }
  }
}

// Buttons
// btn-outline
.btn-outline {
  color: $dark-blue;
}

// *******************************************************************
// Accordion
.accordion {
  &-header {
    color: $dark-blue;

    .accordion-title-open {
      font-weight: 500;
    }
  }

  &-body {
    &__text {
      color: $paragraph-grey;
    }
  }
}

// *******************************************************************
// Introduction
.introduction {
  &-content {
    &--body {
      &-answer_title {
        color: $dark-blue;
      }
      &-question,
      &-answer_body {
        color: $blue-grey;
      }
    }

    &--action_container {
      .introduction-content--action_container-skip {
        font-size: 1.6rem;
        color: $dark-blue;
        transition: all 150ms ease-in-out;

        &:hover {
          cursor: pointer;
          color: $light-blue;
        }

      }

      &-step {
        &-current {
          font-size: 1.6rem;
          color: $light-blue;
        }
        &-slash {
          font-size: 1.6rem;
          color: $light-grey;
        }
        &-max {
          font-size: 1.6rem;
          color: $light-grey;
        }
      }
    }
  }
}

// *******************************************************************
// Navigation
.sidebar {
  .logo {
    &-title {
      &--owner {
        color: $color-white;
      }
    }
  }

  &-list {
    &--link {
      color: $color-white;
    }
  }

  .contact {
    &-address {
      color: $color-white;
    }
  }
}

// *******************************************************************
// Footer
.footer {
  &-content--body-item {
    color: $paragraph-grey;
    font-size: 1.6rem;

    &_nav {
      font-weight: 400;
    }
  }

  &-nav {
    color: $dark-blue;
    font-size: 1.6rem;
  }
}

// *******************************************************************
// Quiz - page 

.quiz {
  &-header {
    &--btn {
      color: $dark-blue;
    }
  }
}




// *******************************************************************
// Matchmaking

.matchmaking {
  &-content {
      align-self: center;
      width: 80%;

      &--header {
          &-title {
            color: $dark-blue;
            font-size: 3.4rem;
        
          }
          &-body {
            color: $paragraph-grey;

          }
      }

      &--list {
        &-item {
          &_body {
            color: $dark-blue;
            font-weight: 500;

          }
        }
      }

      &--nav {
        font-size: 1.6rem;
        color: $color-white;
        font-weight:400;
      }
  }
}

// Selected HPC
.selected-hpc {
  .selected-hpc--container {
      &-title {
        color: $dark-blue;
      }
  }
}


// Progress bar
.sv-progressbar-percentage {
  &__title {
    color: $dark-blue;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__indicator {
    .sv-progressbar-percentage__value-bar {
      .sv-progressbar-percentage__value {
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }
}

// Questions
.survey {
  .sd-container-modern {
    .sd-title {
      .sv-string-viewer {
        color: $dark-blue;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 2.8rem;
      }

      .quiz-title--hint-body {
        font-size: 1.4rem;
        font-weight: 400;
        color: $paragraph-grey;
      }

      .sd-element__num {
        color: $dark-blue;
        font-size: 2.4rem;
        font-weight: 600;
      }
    }

    .sd-element--with-frame {
      .question-content {
        .sd-item {
          .sd-item__control-label {
            font-weight: 400;
            color: $dark-blue;

          }

          &:hover {
            font-weight: 500;
            cursor: pointer;
          }
          
        }

        .sd-item--checked {
          .sd-item__control-label {
            font-weight: 500;
          }
        }
      }
    }
  }

  .sd-action-bar {
    .sv-action {
      .sd-btn {
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 600;
        font-family: "Barlow", sans-serif;
      }
      .sd-navigation__prev-btn {
        color: $blue-grey;
      }
    }
  }
}

// Currently advised HPCs
.hpc-container {
  &--header {
    &-title {
      font-size: 1.8rem;
      font-weight: 500;
      color: $dark-blue;
    }
    &-body {
      color: $dark-blue;
      font-style: italic;
    }
  }

  &--body {
    .current-hpc {
      &--title {
        font-size: 1.8rem;
        font-weight: 600;
        color: $color-black;
      }
    }
  }
}

// Finsihed quiz page

.finished {
  .content {
      &-success {

        &--content {
          &-title {
            color: $dark-blue;
          }
          &-body {
            color: $paragraph-grey;
          }
          &-nav {
            color: $light-blue;
            font-size: 1.6rem;
            font-weight: 600;

            &:hover {
              color: $active-blue;
            }
          }
        }
      }


      &-next {
          &--title {
            color: $dark-blue;
            font-weight: 600;
          }
          &--body {
            color: $paragraph-grey;
          }
          &--nav {
            color: $dark-blue;
            font-size: 1.6rem;
            font-weight: 500;
          }

      }
  }



  .spec {
    &-title  {
      color: $dark-blue;
    }

      &-content {
          &--header {
            &-title {
              &_title {
                color: $dark-blue;
              }
              &_body {
                color: $secondary-orange;
                font-weight: 600;
              }
            }

          }
      }
  }
}

// *******************************************************************
// Use cases page
.cases {
  &-header {
    p {
      color: $paragraph-grey;
    }
  }
}

// Filter
.filter {
  &-header {
    &--title {
      color: $dark-blue;
      font-weight: 500;
    }

    &--filter {
      .filter-item {
        &--title {
          color: $dark-blue;
          font-size: 1.6rem;
          transition: all 150ms ease-in-out;
        }
      }
    }
    .active .filter-item--title {
      color: $color-white;
    }
  }
}

// Case
.case-body--content {
  &-title {
    color: $dark-blue;
  }
  &-feature {
    &_title {
      color: $paragraph-grey;
      font-style: italic;

      span {
        color: $color-black;
      }
    }
  }

  &-body {
    color: $paragraph-grey;
  }
}

// *******************************************************************
// Definition page

.definition {
  &-items--title {
    color: $dark-blue;
  }
}
.defintion-item {
  &--title {
    color: $dark-blue;
  }

  &--body {
    color: $paragraph-grey;
  }
  &--link {
    color: $dark-blue;
    font-weight: 200;
    font-size: 1.6rem;
  }
}

// *******************************************************************
// Search input
.search {
  &-field {
    font-size: 1.6rem;
    color: $dark-blue;
    border: 1px solid transparent;

    &::placeholder {
      color: $dark-blue;
      font-size: 1.6rem;
      font-weight: 100;
      line-height: 1.7;
    }
  }
}

// *******************************************************************
// Home page
.home {
  &-header {
    &--content {
      &-body {
        color: $paragraph-grey;
      }

      &-link {
        font-size: 1.6rem;
        color: $color-white;
        transition: all 150ms ease-in-out;
      }

      &-contact {
        font-size: 1.8rem;
        font-weight: 600;
        color: $paragraph-grey;
      }
    }

    .claaudia-intro {
      &--title {
        color: $dark-blue;
      }

      &--body {
        color: $paragraph-grey;
      }
    }
  }

}

.preview {
  &-title {
    color: $dark-blue;
  }
  &-body {
    color: $paragraph-grey;
  }
  &-nav {
    color: $dark-blue;
    font-size: 1.6rem;
  }
}

// *******************************************************************
// Resources page
.resources {
  &-header {

    color: $paragraph-grey;
  }

  &-category--title {
    color: $dark-blue;
  }

  .no-hpc--header {
    .resources-category--body {
      color: $paragraph-grey;
    }
  }
}

.category-item {
  &--initial-title {
    color: $light-blue;
  }

  &:hover {
    .category-item--initial-title {
      color: $color-white;
    }
  }
  .category-content {
    &--body {
      &-title {
        color: $dark-blue;
      }
      &-content {
        .subs {
          color: $paragraph-grey;
          &-body {
            color: $paragraph-grey;
            font-weight: 600;
          }
        }

        .addtional-info {
          &--body {
            color: $dark-blue;
          }
        }
      }
    }
  }
}

.no-hpc {
  .category-item--initial-title {
    color: $light-blue;
  }

  &:hover {
    .category-item--initial-title{
      color: $light-blue;
    }
  }
}

.data-level {
  &--title {
    color: $paragraph-grey;
  }
  &--item {
    color: $color-white;
    font-size: 1.4rem;
  }
}

.resource-detail {
  &--header {
    .resource-detail--body{
      color: $paragraph-grey;
    }
  }
}

// *******************************************************************
// Tab
.tab {
  &-header {
    &--nav {
      &-item {
        font-size: 1.6rem;
        color: $paragraph-grey;
      }
    }
    .tab-item--active {
      font-weight: 500;
      color: $dark-blue;
    }
  }

  &-content {
    &--item {
      &-title {
        color: $dark-blue;
      }
      &-body {
        color: $paragraph-grey;
      }
    }
  }
}

// *******************************************************************
// Resources
.resources-options {
  &--title {
    color: $dark-blue;
    font-size: 1.8rem;
  }
}

.option {
  &-title {
    color: $dark-blue;
    font-size: 3.4rem;
    font-weight: 600;
  }
  &-body {
    color: $light-blue;
    font-weight:600;
  }
  &-nav {
    color: $dark-blue;
    font-size: 1.6rem;
  }

  &-item {
    padding-top: 2rem;
    &--title {
      color: $dark-blue;
      font-size: 1.4rem;
      font-weight: 600;
    }
    &--item {
      display: flex;
      align-items: center;
      gap: 1rem;

      &-body {
        color: $paragraph-grey;
      }
    }
    &--item-buy_in {
      .option-item--item-body {
        color: $dark-blue;
      }
    }
  }
}

// *******************************************************************
// Comparison
.comparison {
  &-select {
    &--title {
      h4 {
        color: $dark-blue;
      }
    }

    &-header--nav{
      a {
        font-weight: 500;

        a:hover {
          font-weight: 600;
        }
      }
    }
  }
}

// *******************************************************************
// Select
.select {
  &-select {
    color: $dark-blue;
    font-size: 1.8rem;

    &::placeholder {
      color: $border-darker-grey;
    }
  }

  &-header {
    &--title {
      color: $dark-blue;
    }
    &--intro {
      color: $light-blue;
      font-weight: 600;
    }
    &--nav {
      a {
        color: $dark-blue;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }

  &-usecase {
    color: $paragraph-grey;
  }

  &-item {
    &--item {
      &-body {
        &_content {
          &-title {
            color: $paragraph-grey;
            font-size: 1.6rem;
            font-weight: 400;
          }
          &-data {
            color: $dark-blue;
            font-size: 2rem; //

            &--tooltip {
              font-size: 1.2rem;
              font-weight: 400;
            }

            @media (max-width: 1450px) {
              font-size: 1.5rem; //
            }
          }
        }
      }
    }
  }
}
