.comparison {
    
    
    .resource-detail--header {
        width: 50%;

        @media (max-width: 1450px) {
            width: 100%
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 31%;
 
            @media (max-width: 1450px) {
                height: 25%;

              }
            @media (max-width: 1200px) {
                height: 20%;

              }
        }
    }

    &-select {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: space-between;

        gap: 4rem;

        &--title{
            border-right: 1px solid $border-darker-grey;
            padding-right: 2rem;
            min-width: 25rem;
            position: relative;

            

        }

        &--container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;

            gap: 4rem;

            .select {
                min-width: 30rem;
                max-width: 50rem;
            }

            .select-title--content-container {
                position: relative;

                &_title {
                    position: absolute;
                    left: -65%;
                    color: $dark-blue;
                    

                    @media (max-width: 1450px) {
                        left: -75%;
                    }
                    @media (max-width: 1320px) {
                        left: -90%;
                    }
                }
            }
        }
    }
}
