.comparison {
    
    
    .resource-detail--header {
        width: 50%;
        padding-bottom: 9rem;

        @media (max-width: 1450px) {
            width: 100%
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 7%;
 

            @media (max-width: 1450px) {
                height: 20%;

              }
            @media (max-width: 1200px) {
                height: 17%;

              }
        }
    }

    &-select {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-content: space-between;

        gap: 4rem;

        &--title{
            border-right: 1px solid $border-darker-grey;
            padding-right: 2rem;
            min-width: 25rem;
            position: relative;

            &-item {
                position: absolute;
            }
            &-item_1 {
                top: 0%;
            }
            &-item_2 {
                top: 10%;
            }
            &-item_3 {
                top: 18%;
            }
            &-item_4 {
                top: 24%;
            }
            &-item_5 {
                top: 47%;
            }
            &-item_6 {
                top: 66%;
            }
            &-item_7 {
                top: 71%;
            }
            &-item_8 {
                top: 82%;
            }

        }

        &--container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: space-between;

            gap: 4rem;

            .select {
                min-width: 30rem;
                max-width: 50rem;
            }
        }
    }
}