.definition {
    width: 70%;
    margin: 0 auto;

    &-header {
        width: 70%;

        @media (max-width: 1450px) {
            width: 100%
          }
      
    }


    .definition-items--title {
        margin-bottom: 2rem;
    }
}