.resources {

    &-header {
        width: 50%;

        @media (max-width: 1450px) {
            width: 100%
          }
    }

    .no-hpc--header {
        width: 50%;

        .resources-category--nav {
            
           margin-inline: 0 auto;
        }
    }
}